<p id="notice"><%= notice %></p>

<p>
  <strong>Is host:</strong>
  <%= @participation.is_host %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
