<p id="notice"><%= notice %></p>

<p>
  <strong>Is host:</strong>
  <%= @participacao.is_host %>
</p>

<%= link_to 'Edit', edit_participacao_path(@participacao) %> |
<%= link_to 'Back', participacaos_path %>
